<!DOCTYPE html>

<html lang="en">
<head>
  <title>Take Attendance</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="/public/assets/table.css" >
</head>
<body>

    <div class="table-data">
<h2 style="margin-left: 40%;">Faculty list</h2>
    <table border="1">
        <tr>
            <th>TID</th>
            <th>Name</th>
            <th>Department</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        
        <%
        if(userData.length!=0){
    
        userData.forEach(function(data){
        %>
        <tr>
            <td><%=data.TID %></td>
            <td><%=data.Name %></td>
            <td><%=data.Department %></td>
            <td><a href='/editft/<%=data.TID %>'>Edit</a></td>
            <td><a href='/delft/<%=data.TID %>' onclick="return confirm('Are you sure you want to delete this item?')">Delete</a></td>
        </tr>
        <%   }) %>
        <% } else{ %>
            <tr>
                <td colspan="5">No Data Found</td>
            </tr>
        <% } %>
    </table>
   
    </div>
</body>
</html>